.container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 30;

    overflow: hidden;

    transition: bottom 4s ease;
    transition-delay: 0.8s;

    will-change: bottom;

    &.withNext {
        bottom: 1.2em;
        transition: bottom 1.2s ease;
        transition-delay: 0s;
    }
}

.textbox {
    position: relative;
    padding: 0.44em 0.6em;
    border-radius: 0.25em 0px 0px 0px;
    background-color: rgb(200 200 255 / 0.3);
    transition: all 0.2s ease;
    white-space: nowrap;
    height: 1em;
    min-height: fit-content;
    min-width: 8ch;
    transition: width 2s ease, height 2s ease;
}

.progress-text {
    --strip-color: black;

    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border-radius: 0.25em 0px 0px 0px;

    user-select: none;

    &>span {
        display: inline-block;

        margin-top: -4px;

        width: 0.6em;
        text-align: center;

        color: inherit;
    }

    will-change: background-position,
    background-image,
    color;

    background-size: 0.5em 0.5em;
    animation: move 2s linear infinite;

    @keyframes move {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 0.5em 0.5em;
        }
    }

    transform: translateZ(0) rotateZ(360deg);
    transition: clip-path 0.2s ease,
    background-color 2.2s ease-in-out,
    color 2.2s ease-in-out;

    background-image: linear-gradient(-45deg,
        var(--strip-color) 25%,
        transparent 25%,
        transparent 50%,
        var(--strip-color) 50%,
        var(--strip-color) 75%,
        transparent 75%,
        transparent);
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: rgb(0 0 0 / 0.5);

    transform: translateZ(0) rotateZ(360deg);

    transition: clip-path 0.5s ease;
}

.next {
    position: absolute;
    display: flex;

    bottom: 0;
    right: 0;
    z-index: 20;

    min-width: 8ch;

    justify-content: center;
    align-items: center;
    font-size: 0.6em;

    user-select: none;

    padding: 0.4em;
    background-color: rgb(200 200 255 / 0.3);
    white-space: nowrap;
    height: 2.0em;

    opacity: 0;

    transition: opacity 4s ease, color 4s ease, width 2s ease;

    &.show {
        opacity: 1;
        transition: opacity 0.6s ease, color 4s ease, width 2s ease;
    }

    &>* {
        animation: blink 0.5s linear alternate infinite;
    }

    @keyframes blink {
        from {
            opacity: 1;
        }

        to {
            opacity: 0.15;
        }
    }
}
