.navbar {
    position: fixed;
    padding: 0 1.5em;
    width: 100%;
    height: var(--navbar-height);
    background:
        linear-gradient(var(--mantine-color-body)) padding-box,
        linear-gradient(
            to right,
            var(--mantine-color-body), var(--mantine-color-dark-6) 10%, var(--mantine-color-dark-6) 90%, var(--mantine-color-body)
        );

    border-bottom: 1px solid transparent;

    z-index: 100;

    justify-content: space-between;
    flex-wrap: nowrap;
}

.left-pane {
    height: 100%;
    flex-wrap: nowrap;
    gap: var(--mantine-spacing-xs);

    & .brand {
        height: 100%;
        flex-wrap: nowrap;
        gap: var(--mantine-spacing-sm);
    }

    &.vertical {
        gap: 0;
    }
}

.right-pane {
    justify-items: right;
    align-items: center;
    flex: 0 1 auto;
}

.logo-box {
    flex-direction: column;
    align-items: center;
    gap: var(--mantine-spacing-xs);
    flex-wrap: nowrap;
    user-select: none;

    @mixin larger-than $mantine-breakpoint-sm {
        flex-direction: row;
    }

    & .logo {
        width: auto;
        height: 45px;
        object-fit: cover;
        transition: height 0.2s ease;

        @mixin larger-than $mantine-breakpoint-sm {
            height: 65px;
        }
    }

    & .title {
        font-size: 1rem;
        font-weight: 700;
        margin-top: -6px;

        @mixin larger-than $mantine-breakpoint-sm {
            font-size: 1.5rem;
        }
    }
}

.vubox {
    flex-direction: row;
    width: fit-content;
    height: 100%;
    padding: 5px;
    align-items: center;

    &[data-orientation='horizontal'] {
        flex-direction: column;
        justify-content: center;
        width: 100px;
    }
}


.playback {
    height: 100%;
    flex-wrap: nowrap;
    gap: var(--mantine-spacing-xs);
    flex: 1 0 auto;

    & .image-box {
        border: 1px solid transparent;
        border-radius: 10%;
        overflow: hidden;
        background: linear-gradient(black) padding-box, conic-gradient(from var(--angle), var(--colors)) border-box;

        transform-origin: 0 0;
        z-index: 10;
        user-select: none;

        @keyframes rotate {
            to {
                --angle: 1turn;
            }
        }

        animation: rotate 6s linear infinite;

        & img {
            width: 70px;
            height: 70px;
            object-fit: cover;
        }
    }

    & .info {
        padding: 0.1em 0;
        height: 100%;
        font-size: 0.7rem;
        justify-content: space-between;
    }
}

.volume-box.horizontal {
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    gap: 6px;
}

.volume-box.vertical {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    flex-grow: 1 1 auto;
    gap: 6px;

}

.volume-control {
    position: relative;
    background-color: #888;
    border-radius: 1000px;

    --w: 6px;

    &.horizontal {
        width: 100%;
        height: var(--w);
    }

    &.vertical {
        width: var(--w);
        height: 100%;
    }

    & .range {
        position: absolute;
        background-color: #ccc;
        border-radius: 1000px;
    }


    & .thumb {
        --tw: calc(var(--w) * 1.75);
        --ta: calc((var(--tw) - var(--w)) / 2);

        position: absolute;
        width: var(--tw);
        height: var(--tw);

        border-radius: 100%;

        background-color: #ddd;
    }

    &.horizontal .range {
        left: 0;
        width: calc(var(--gain) * 100%);
        height: 100%;
    }

    &.vertical .range {
        bottom: 0;
        height: calc(var(--gain) * 100%);
        width: 100%;
    }

    &.horizontal .thumb {
        left: calc(var(--gain) * 100% - var(--ta));
        transform: translate(calc(var(--ta) * -1.75), calc(var(--ta) * -1));
        will-change: left;
    }

    &.vertical .thumb {
        bottom: calc(var(--gain) * 100% - var(--ta));
        transform: translate(calc(var(--ta) * -1), calc(var(--ta) * 1.25));
        will-change: bottom;
    }
}
