node_modules/
bundle/
build/
dist/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.vs/

package-lock.json
.pnpm-debug.log

*.tsbuildinfo
.turbo
*.log

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

.secrets
