.topbar {
    --fill-color: hsl(from var(--panel-color) h s calc(l - 2));
    --fill-background: linear-gradient(to right, var(--fill-color), var(--panel-color));

    flex-direction: column;
    height: 200px;
    background: var(--mantine-color-body) padding-box;
    border-bottom: 1px solid var(--mantine-color-dark-6);

    .main {
        height: 150px;
        border-bottom: 1px solid var(--mantine-color-dark-8);
    }

    .lyrics-bar {
        height: 50px;
        padding: 4px;
        justify-content: center;
        background: var(--fill-background);
    }

    .fill {
        background: var(--fill-background);
        flex: 1 1 0;
    }
}

.station {
    align-items: center;
    justify-content: space-between;
    padding: 4px;

    .info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: var(--mantine-spacing-xs);

        .info-line {
            justify-content: center;
            width: 100%;
        }
    }

    .listeners {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 4px;
        gap: var(--mantine-spacing-sm);
        text-wrap: nowrap;
    }
}

.playback {
    width: 450px;

    .track {
        flex-direction: column;
        flex: 1 1 auto;
        min-width: 0;
        justify-content: space-between;
        overflow: visible;
        position: relative;
    }
}

.list-panel {
    flex-direction: column;
    height: 100%;
    font-size: 0.7rem;
    gap: 0;

    .item {
        padding: 0 4px;
        flex-direction: row;
        border-bottom: 1px solid var(--mantine-color-dark-7);
        width: 100%;
        min-height: 2.5lh;
        justify-content: space-between;
        flex: 1 0 auto;
        user-select: none;

        &:hover {
            background-color: var(--mantine-primary-color-light-hover);
        }

        .primary {
            flex-direction: column;
            justify-content: center;
            text-wrap: nowrap;
        }

        .secondary {
            color: var(--mantine-color-dark-2);
        }

        &.selected {
            background-color: var(--mantine-primary-color-filled-hover);

            .secondary {
                color: var(--mantine-color-dark-1);
            }
        }
    }
}

.source-weight {
    margin-left: 0.5em;
    color: var(--mantine-color-violet-7);
}

.sequence-limit {
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-weight: bold;
    color: var(--mantine-color-teal-9);
}

.sequence-chances {
    color: var(--mantine-color-blue-8);
}
