.playdeck {
    width: 100%;
    height: 100%;
}

.cover-box {
    aspect-ratio: 1;
}

.cover-info {
    display: flex;
    width: 100%;
    height: 100%;

    color: var(--mantine-color-dark-4);
    background-color:var(--mantine-color-dark-8);

    overflow: clip;
    user-select: none;

    align-items: center;
    justify-content: center;
}

.cover-text {
    font-weight: 500;
    font-size: 1.2em;
}

.info-box {
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.info {
    position: relative;
    flex-direction: column;
    padding: 0 4px;
    flex: 1 1 auto;
    min-width: 0;

}

.info-text {
    align-items: center;
    text-wrap: nowrap;
    width: 100%;
    height: 1.6em;
    font-size: 0.7em;
    line-height: 0.7em;
    text-overflow: ellipsis;
    overflow: clip;
}

.control-box {
    justify-content: space-between;
    width: 100%;
    height: 22px;
    border-top: 1px solid var(--mantine-color-dark-8);
}

.control {
    height: 100%;
    flex: 1 1 auto;
}

.playhead-box {
    align-items: center;
    justify-content: end;
    min-width: 10.5ch;
    padding-right: 8px;
}
