.resizer {
    flex: 0 0 0;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        z-index: 11;

        background: var(--mantine-color-dark-7) padding-box;
        transition: background 0.4s ease;
    }


    &:hover {
        &::after {
            background: var(--mantine-color-dark-5) padding-box;
            /* background-color: red;; */
        }
    }

    &.horizontal {
        cursor: col-resize;
        margin-right: -1px;

        &::after {
            left: -4px;
            width: 5px;
            height: 100%;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
        }
    }

    &.vertical {
        cursor: row-resize;
        /* margin-bottom: -1px; */

        &::after {
            top: -3px;
            height: 5px;
            width: 100%;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
        }
    }
}
