.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px - 220px); /* Viewport minus header minus TopBar */
}

.header {
    flex-shrink: 0; /* Prevent shrinking */
    justify-content: space-between;
}
