.container {
    display: flex;
    flex-direction: column;
    height: calc(100cqh - var(--navbar-height) - 200px); /* Viewport minus NavBar minus TopBar */
}

.header {
    flex-shrink: 0; /* Prevent shrinking */
    justify-content: space-between;
}
