MUSIC_PATH=/musics
MONGO_DB_HOST=mongo
MONGO_DB_PORT=27017
MONGO_DB_USER=root
MONGO_DB_PASSWORD=example
MONGO_DB_DATABASE=medley
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_BASE_COMMAND=medley
SKIP_CHECK_AUDIO_DEVICE=true
