@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --navbar-height: 80px;
    --panel-color: hsl(205, 10%, 8%);
    --dj-topbar-height: 200px;
}

a {
  color: var(--mantine-color-anchor);
  text-decoration: none;
  transition: color 0.6s ease;
}

a:hover {
  color: var(--mantine-primary-color-2);
}

:root {
  @mixin dark-root {
    --mantine-color-body: var(--mantine-color-dark-9);
    --mantine-color-anchor: var(--mantine-primary-color-4);
  }
}

.contextmenu {
    outline: 1px solid var(--mantine-color-gray-8);
}
