.panel {
    background-color: var(--panel-color);
    overflow: hidden;
    flex-wrap: nowrap;

    &[data-orientation='vertical'] {
        flex-direction: column;
    }

    &[data-border-left] {
        margin-left: 1px;
    }

    &[data-border-top] {
        margin-top: 1px;
    }

    &[data-border-right] {
        margin-right: 1px;
    }

    &[data-border-bottom] {
        margin-bottom: 1px;
    }

    &:hover .header {
        color: var(--mantine-color-text);
    }
}

.header {
    width: 1lh;
    height: 100%;
    background: linear-gradient(to bottom, var(--mantine-color-dark-8), var(--mantine-color-dark-9));
    color: var(--mantine-color-dark-1);
    padding: 4px 0;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    user-select: none;

    transition: color 1s ease, background 1s ease;
}

.panel[data-orientation='vertical'] .header {
    width: 100%;
    height: 1lh;
    background: linear-gradient(to right, var(--mantine-color-dark-8), var(--mantine-color-dark-9));
    padding: 0 4px;
    writing-mode: unset;
}

.content {
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.list-panel {
    flex-direction: column;
    height: 100%;
    gap: 0;

    & > div {
        flex-direction: row;
        padding: 0 4px;
        width: 100%;
        justify-content: space-between;
        flex: 1 0 auto;

        border-bottom: 1px solid var(--mantine-color-dark-7);

        &[data-selected=true] {
            background-color: var(--mantine-primary-color-filled-hover);
        }

        &:not([data-selected=true]):hover {
            background-color: var(--mantine-primary-color-light-hover);
        }
    }
}
