.panel {
    background-color: var(--panel-color);
    overflow: hidden;
    flex-wrap: nowrap;

    &:has(+ .panel) {
        margin-right: 1px;
    }

    &:hover .header {
        color: var(--mantine-color-text);
    }
}

.header {
    width: 1lh;
    height: 100%;
    background: linear-gradient(to bottom, var(--mantine-color-dark-8), var(--mantine-color-dark-9));
    color: var(--mantine-color-dark-1);
    padding: 4px 0;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
    user-select: none;

    transition: color 0.25s ease, background 0.5s ease;
}

.content {
    flex-direction: column;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
